<h1>Edit your part</h1>
<%= simple_form_for [@star_part] do |f| %>

  <%= f.input :name_of_star %>
  <%= f.input :name_of_part %>
  <%= f.input :rating %>
  <%= f.input :price %>
  <%= f.input :description %>

  <%= f.submit "Change it !", class: 'btn btn-primary' %>
<% end %>

<p><%=link_to "Back to list", star_parts_path%></p>
