<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1569198029748-cd12fd4ae3c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=783&q=80)">
  Get the body of your dreams
</div>
<div class="container mt-3" >
  <div class="d-flex justify-content-between ">
    <h2 class ="title-products-collection">Explore our Collection</h1>
    <%= link_to "Add new part", new_star_part_path, class: "btn btn-warning", id: "button-part" %>
  </div>
  <div class="cards">
    <% @star_parts.each do |part| %>
      <div class="card-trip">
        <%= cl_image_tag(part.photo.key) %>

        <div class="card-trip-infos">
          <div>
            <small>
              <% count = 0 %>
              <% part.rating.times do %>
                <% if part.rating > count %>
                  <i class="fa fa-star text-danger"></i>
                <% else %>
                  <i class="fa fa-star text-danger"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>

            <h5 class="text-primary"><%= link_to part.name_of_part.capitalize(), "#" %></h5>
            <h6>From: <strong><%= part.name_of_star %></strong></h6>
            <%= link_to "Book now", "#", class: "btn btn-primary" %>
        </div>
        <h2 class="card-trip-pricing"> € <%= part.price  %> </h2>
        <div>
          <%= image_tag "manager.jpg", alt: "alttext", class: "card-trip-user avatar-bordered" %>
      </div>
  </div>
  <% end %>
            <h5 class="text-primary"><%= link_to part.name_of_part.capitalize(), star_part_path(part) %></h5>
            <h6>From: <strong><%= part.name_of_star %></strong></h6>
            <%= link_to "Book Now", star_part_path(part), class: "btn btn-primary" %></i>
          </div>
        <h2 class="card-trip-pricing"> € <%= part.price  %> </h2>
        <%= image_tag "manager.jpg", alt: "alttext", class: "card-trip-user avatar-bordered" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container mt-2 align-content-center" >
  <%= link_to "Back Home", root_path, class: "btn btn-danger mb-5", id:"button-back-home" %>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['pk.eyJ1IjoidGFuZ3V5NzUiLCJhIjoiY2syZzdkdHl4MHEyazNkcGI5Zmp6bmdtbCJ9.7uESNvb-0O8bcweajv4wBw'] %>"
></div>
