<div class="card-container mt-3" >
  <div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/assets/landing-e3ca8f6d264a7f8706bf95bfee9f9748ded73dd469b2f755fde193c12c88d52d.png)">
      <%= form_tag star_parts_path, method: :get, class: "form-inline" do %>
      <%#= select_tag :category, options_for_select(@star_parts_all.collect{ |s| s.category }.uniq) %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "" %>
      <%= link_to "Search", star_parts_path, class: "bg-rose-search" %>
      <% end %>
  <p>
    <span id="typed-js"></span>
  </p>
  </div>
<br>
    <div>You have <%=pluralize @star_parts.count, 'result'%></div>

<div class="card-container cards mt-3" >

    <% @star_parts.each do |part| %>
      <div class="card-trip rounded">
        <%= link_to star_part_path(part) do %>
          <%= cl_image_tag part.photo.key, class: "part-img" %>
        <% end  %>
        <div class="card-trip-infos">
          <div>
            <small>
              <% part.rating.times do %>
                  <i class="fa fa-star text-rose"></i>
              <% end %>
              <% (5 - part.rating).times do %>
                  <i class="far fa-star text-rose"></i>
              <% end %>
            </small>
            <h5><%= part.name_of_star %>'s <%= part.name_of_part.capitalize() %></h5>
          </div>
        <h2 class="card-trip-pricing"> € <%= part.price  %> </h2>
        <%= cl_image_tag(part.user.photo.key, class: "card-trip-user avatar-bordered") %>
        </div>
      </div>
    <% end %>

</div>
<div class="container mt-2 align-content-center" >
  <%= link_to "Return Home", root_path, class: "link-rose", id:"button-back-home" %>
</div>

