<div class="card-container mt-3" >
  <div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1569198029748-cd12fd4ae3c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=783&q=80)">
      <%= form_tag star_parts_path, method: :get, class: "form-inline" do %>
      <%#= select_tag :category, options_for_select(@star_parts_all.collect{ |s| s.category }.uniq) %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "" %>
      <%= link_to "Search", star_parts_path, class: "bg-rose-search" %>
      <% end %>
      <p> <span id="typed-js"></span> </p>
  </div>
</div>
<div class="card-container mt-3" >
  <div class="d-flex justify-content-end ">
  </div>
  <div class="cards">
    <% @star_parts.each do |part| %>
      <div class="card-trip rounded">
        <%= link_to star_part_path(part) do %>
          <%= cl_image_tag part.photo.key, class: "part-img" %>
        <% end  %>
        <div class="card-trip-infos">
          <div>
            <small>
              <% part.rating.times do %>
                  <i class="fa fa-star text-rose"></i>
              <% end %>
              <% (5 - part.rating).times do %>
                  <i class="far fa-star text-rose"></i>
              <% end %>
            </small>
            <h5><%= part.name_of_star %>'s <%= part.name_of_part.capitalize() %></h5>
          </div>
        <h2 class="card-trip-pricing"> € <%= part.price  %> </h2>
        <%= cl_image_tag(part.user.photo.key, class: "card-trip-user avatar-bordered") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container mt-2 align-content-center" >
  <%= link_to "Return Home", root_path, class: "link-rose", id:"button-back-home" %>
</div>
