<div class="container mt-5" >
  <h1 class ="title-products-display">Feeling lucky?</h1>
    <h2 class ="title-products-collection">Explore our Collection</h1>

  <div class="cards">
    <% @star_parts.each do |part| %>
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1526758097130-bab247274f58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" />
        <div class="card-trip-infos">
          <div>
            <small>
              <% count = 0 %>
              <% part.rating.times do %>
                <% if part.rating > count %>
                  <i class="fa fa-star"></i>
                <% else %>
                  <i class="fa fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <h5><%= part.name_of_part.capitalize() %></h5>
            <h6>From: <strong><%= part.name_of_star %></strong></h6>
          </div>
        <h2 class="card-trip-pricing"> € <%= part.price  %> </h2>
        <%= image_tag "manager.jpg", alt: "alttext", class: "card-trip-user avatar-bordered" %>
      </div>
  </div>
<% end %>
</div>

  <% if policy(StarPart).create? %>
    <%= link_to "New star_part", new_star_part_path %>
  <% end %>

<%# @star_parts.each do |star_part| %>
    <%= star_part.name_of_star %>
   <%= star_part.description %>
   <%= star_part.user.email %>
  <%= link_to 'Show', star_part %>
  <% if policy(star_part).edit? %>
    <%= link_to "Update", edit_star_part_path(star_part) %>
  <% end %>

  <% if policy(star_part).show? %>
    <%= link_to 'Show', star_part_path(star_part) %>
  <% end %>

  <% if policy(star_part).destroy? %>
    <%= link_to 'Destroy', star_part, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
