<div class="container">
<p style="text-align: center; font-size: 28px;">Here, create a new Part !</p>

<%= simple_form_for @star_part do |f| %>
  <%= f.input :name_of_star %>
  <%= f.input :name_of_part %>
  <%= f.input :rating %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :photo, as: :file %>
  <%= f.input :address %>

<p style="text-align: center"><%= f.submit "Let's create it !", class: 'btn btn-primary'%></p>
<% end %>
<p style="text-align: center"><%=link_to "Back to list", star_parts_path%></p>
</div>
