<div class="container">
<%= link_to parts_path do %>
  <i class="fas fa-arrow-left mt-3"></i>
<% end %>
</div>
<div class="container box-form">
<p style="text-align: center; font-size: 28px;">Rent a body part</p>

<%= simple_form_for @star_part do |f| %>
  <%= f.input :name_of_star, :label => "Who is the star?" %>
  <%= f.input :name_of_part, :label => "What part do you want to rent?"%>
  <%= f.input :category, :collection => ["bottom", "head", "bust"] %>
  <%= f.input :price, :label => "Price per night (in €)" %>
  <%= f.input :description, :label => "Please describe the body part"%>
  <%= f.input :address, :input_html => {
        :id => "place"
      }%>
  <%= f.input :photo, as: :file %>

<p style="text-align: center"><%= f.submit "Submit", class: 'bg-rose mr-3'%></p>
<% end %>
</div>
