<div class="container">
<p style="text-align: center; font-size: 28px;">Rent a body part</p>

<%= simple_form_for @star_part do |f| %>
  <%= f.input :name_of_star %>
  <%= f.input :name_of_part %>
  <%= f.input :rating %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :photo, as: :file %>
  <%= f.input :address %>

<p style="text-align: center"><%= f.submit "Submit", class: 'bg-rose mr-3'%></p>
<% end %>
<p style="text-align: center"><%=link_to "Back", star_parts_path%></p>
</div>
