<div class="container mt-4 ">
  <%= link_to star_parts_path do %>
    <i class="fas fa-arrow-left pl-0 pb-3"></i>
  <% end %>
  <div
      id="map"
      style="width: 100%;
      height: 200px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>
  <div class="row pt-4">
    <div class="col">
      <%= cl_image_tag(@star_part.photo.key, class: "img-product") %>
    </div>
    <div class="col card-product-show">
      <h4><strong><%= @star_part.name_of_star %>'s <%= @star_part.name_of_part.capitalize() %></strong></h5>
      <h5>
      <% @star_part.rating.times do %>
        <i class="fa fa-star text-rose"></i>
        <% end %>
        <% (5 - @star_part.rating).times do %>
          <i class="far fa-star text-rose"></i>
        <% end %>
        </h5>
      <h6><strong>Category:</strong> <%= @star_part.category.capitalize %></h6>
      <p style="font-size: 18px;"> <strong>Description: </strong> </p>
      <p style="font-size: 16px;"> <%= @star_part.description %> </p>
      <h5> <strong>Price:</strong> €  <%= @star_part.price %> / day</h5>
      <br>
      <button type="button" class="btn-lg bg-rose button-product" data-toggle="modal" data-target="#exampleModal">
        Book Now!
      </button>

  <% if policy(@star_part).edit? && policy(@star_part).destroy? %>
    <% if policy(@star_part).edit? %>
      <%= link_to "Update", edit_star_part_path(@star_part), class: "btn-sm btn-secondary mt-5 mb-5" %>
    <% end %>
  or
    <% if policy(@star_part).destroy? %>
      <%= link_to 'Delete', star_part_path(@star_part), class: "btn-sm btn-secondary mt-5 mb-5", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
    </div>
  </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <%= simple_form_for [@star_part, Booking.new] do |f| %>
            <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
            <%= f.input :message, as: :text, required: false %>
            <%= f.input :price, as: :integer, required: true, input_html: {value: @star_part.price, readonly: :true} %>
            <%= f.submit "Book", class: "bg-rose"%>
            <% end %>

            <% @star_part.unavailable_dates.each do |date|%>
              <div class="unavailable-dates" data-unavailable=<%= date %>></div>
            <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container pt-4">
  <div class="row">
    <div class="col">
    </div>

    <div class="col-8">
      <% if @star_part.reviews.blank? %>
        <p style="font-size: 16px;">No reviews for now. Be the first to leave a review by booking <%= @star_part.name_of_star %>'s <%= @star_part.name_of_part.capitalize() %>!</p>
      <% else %>
        <p style="font-size: 18px;"><%= pluralize @star_part.reviews.size, "Review" %> : </p>
        <% @star_part.reviews.each do |review| %>
          <div class="card-product-show-reviews mb-4 ">
          <%= image_tag @star_part.user.photo %>
            <div class="card-product-infoss">
              <% @star_part.rating.times do %>
                <p  "style="font-size: 18px;"><%= review.content.capitalize() %></p>
                <h2><i class="fa fa-star text-rose"></i>
              <% end %>
              <% (5 - @star_part.rating).times do %>
                <i class="far fa-star text-rose"></i></h2>
              <% end %>
            </div>
            <p style="font-size: 18px; margin-left: 20px;"><strong><%= @star_part.user.first_name.capitalize() %> </strong> said: <%= review.content.capitalize() %></p>
            </div>
            <% end %>
          </div>
      <% end %>

    <div class="col">
    </div>
  </div>
</div>

