<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path(@star_part.photo.key) %>);">
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h4 class="text-primary"><%= @star_part.name_of_part.capitalize %></h4>
      <h5> Artist: <strong><%= @star_part.name_of_star %></strong></h6>
      <h5> Rating:
      <% count = 0 %>
        <% @star_part.rating.times do %>
          <% if @star_part.rating > count %>
            <i class="fa fa-star text-danger"></i>
          <% else %>
            <i class="fa fa-star text-danger"></i>
          <% end %>
          <% count += 1 %>
        <% end %></h5>
      <br>
      <h6> <strong> Description: </strong> <h6>
      <p> <%= @star_part.description %> </p>
      <div class="d-flex justify-content-between ">
        <h5> <strong>Price:</strong> €  <%= @star_part.price %> </h5>
      </div>
    </div>

    <div class="col">
    </div>
  </div>
  <%= link_to "Back to list", star_parts_path, class: "btn btn-danger mb-5", id:"button-back-home" %>
</div>

<% if policy(@star_part).edit? %>
  <%= link_to "Update", edit_star_part_path(@star_part) %>
<% end %>
<% if policy(@star_part).destroy? %>
  <%= link_to 'Destroy', star_part_path(@star_part), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


