  <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(@star_part.photo.key) %>);">

  </div>


<div class="container">

  <div class="name-of-part">
  <h1> <%= @star_part.name_of_part%> - <%= @star_part.name_of_star %> </h1>
  </div>
  <div>
    <%= image_tag "avatar.png", class: "avatar" %>
  </div>
  <div class="description">
  <p> <%= @star_part.description %> </p>

  </div>



  <%= link_to "Back to list", star_parts_path %>
</div>



<% if policy(@star_part).edit? %>
  <%= link_to "Update", edit_star_part_path(@star_part) %>
<% end %>
<% if policy(@star_part).destroy? %>
  <%= link_to 'Destroy', star_parts_path(@star_part), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
