<div class="container mt-4">
  <%= link_to star_parts_path do %>
    <i class="fas fa-arrow-left pl-0"></i>
  <% end %>

  <div class="row">
    <div class="col rounded bg-light shadow-sm p-5 m-2">
      <%= cl_image_tag(@star_part.photo.key, :width => 500) %>
    </div>
    <div class="col rounded bg-light shadow-sm p-5 m-2">
      <h4><strong><%= @star_part.name_of_star %>'s <%= @star_part.name_of_part.capitalize() %></strong></h5>
      <h5>
      <% @star_part.rating.times do %>
        <i class="fa fa-star text-rose"></i>
        <% end %>
        <% (5 - @star_part.rating).times do %>
          <i class="far fa-star text-rose"></i>
        <% end %>
        </h5>
      <h6> <strong>Category:</strong> <%= @star_part.category.capitalize %></h6>

      <br>
      <h5> <strong> Description: </strong> <h5>
      <p style="font-size: 18px;"> <%= @star_part.description %> </p>
      <div class="d-flex justify-content-between mt-5">
        <h5> <strong>Price:</strong> €  <%= @star_part.price %> / day</h5>
      </div>
      <br>
      <button type="button" class="bg-rose" data-toggle="modal" data-target="#exampleModal">
        Book Now!
      </button>
      <br>
      <br>
      <div
    id="map"
    style="width: 100%;
    height: 200px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY=pk.eyJ1IjoidGFuZ3V5NzUiLCJhIjoiY2syZzdkdHl4MHEyazNkcGI5Zmp6bmdtbCJ9.7uESNvb-0O8bcweajv4wBw
'] %>"
  ></div>
  <% if policy(@star_part).edit? && policy(@star_part).destroy? %>

  <% if policy(@star_part).edit? %>
    <%= link_to "Update", edit_star_part_path(@star_part), class: "btn-sm btn-secondary mt-5 mb-5" %>
  <% end %>
  or
  <% if policy(@star_part).destroy? %>
    <%= link_to 'Delete', star_part_path(@star_part), class: "btn-sm btn-secondary mt-5 mb-5", method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <% end %>
    </div>
  </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <%= simple_form_for [@star_part, Booking.new] do |f| %>
            <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
            <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
            <%= f.input :message, as: :string, required: false %>
            <%= f.input :price, as: :integer, required: true, input_html: {value: @star_part.price, readonly: :true} %>
            <%= f.submit "Book", class: "btn btn-success"%>
            <% end %>

            <% @star_part.unavailable_dates.each do |date|%>
              <div class="unavailable-dates" data-unavailable=<%= date %>></div>
            <% end %>
      </div>
    </div>
  </div>
 </div>

<div id="reviews">
    <% if @star_part.reviews.blank? %>
      No reviews for now.
    <% else %>
    <h2><%= pluralize @star_part.reviews.size, "reviews" %></h2>
      <ul>
      <% @star_part.reviews.each do |review| %>
        <li>
        <li>
          <% @star_part.rating.times do %>
                  <i class="fa fa-star text-rose"></i>
              <% end %>
              <% (5 - @star_part.rating).times do %>
                  <i class="far fa-star text-rose"></i>
              <% end %>
        </li>
         <li> <%= review.content %>
        </li>
      <% end %>
     </ul>
    <% end %>
  </div>
</div>

