<div class="err-message row justify-content-center mt-5">
  <div class="col-lg-4 col-10 bg-light rounded shadow-sm p-3">
    <h2>We are sorry but your booking contains errors and could not be completed.</h2>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-lg-4 col-10 bg-light rounded shadow-sm p-3">
    <%= simple_form_for [@star_part, @booking] do |f| %>
    <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
    <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
    <%= f.input :price, as: :string, disabled: true, input_html: {value: @star_part.price} %>
    <%= f.submit "Book", class: "btn btn-success"%>
    <% end %>

    <% @star_part.unavailable_dates.each do |date|%>
      <div class="unavailable-dates" data-unavailable=<%= date %>></div>
    <% end %>
  </div>
</div>
