<div class="row card-container">
  <!-- encart photo et infos -->
  <div class="col-lg-4 p-0">
    <div class="user">
      <div class="user-infos flex-column justify-content-center align-items-start mt-5">
        <ul class="rounded bg-light shadow-sm">
          <%= link_to edit_user_registration_path, class: "text-gray edition" do %>
            <i class="fas fa-pen-square"></i>
          <% end %>
          <h3 class="text-justify first-label">Username</h3>
          <li class="my-3"><%= @user.username %></li>
          <h3 class="text-justify">First Name</h3>
          <li class="my-3"><%= @user.first_name %></li>
          <h3 class="text-justify">Last Name</h3>
          <li class="my-3"><%= @user.last_name %></li>
          <h3 class="text-justify">Email</h3>
          <li class="my-3"><%= @user.email %></li>
          <h3 class="text-justify">Member since</h3>
          <li class="my-3"><%= @user.created_at %></li>
          <li class="text-right">
          </li>
        </ul>
      </div>
        <% if @user.photo.attached? %>
          <%= image_tag @user.photo, alt: "alttext", class: "big-avatar img-profile" %>
        <% else %>
          <%= image_tag "brad.jpg", alt: "alttext", class: "big-avatar img-profile" %>
        <% end %>
      </div>
  </div>
  <!-- encart your bookings -->
  <div class="col-lg-8 mt-5">
    <div class="bg-light rounded px-5 pt-2 pb-4 shadow-sm bookings">
      <!-- upcoming -->
      <% if @user.bookings.select { |booking| booking.end_date > Time.now }.length > 0 %>
        <h1 class="pt-2">Your upcoming bookings</h1>
        <% @user.bookings.each do |booking| %>
          <% if booking.end_date > Time.now %>
            <div class="d-flex justify-content-center align-items-center">
              <div class="booking rouded border mt-1 rounded shadow-sm profile-part-info d-flex justify-content-between align-items-center flex-grow-1">
                <div class="profile-part-info-left d-flex justify-content-start align-items-start">
                  <%= image_tag booking.star_part.photo, alt: "alttext" %>
                  <div class="profil-part-info-text mt-2">
                    <div class="d-flex justify-content-start align-items-start">
                      <div>
                        <h2><%= booking.star_part.name_of_star %>'s <%= booking.star_part.name_of_part %></h2>
                        <h3>From <%= booking.start_date %> - To <%= booking.end_date %></h3>
                        <h3>€ <%= booking.price %></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <h2 class="mr-5">Status : <%= booking.confirmed %></h2>
                </div>
              </div>
                  <%= link_to star_part_booking_path(booking.star_part.id, booking.id), method: :delete, data: { confirm: 'Are you sure?' } do  %>
                    <i class="fas fa-trash text-gray mx-5"></i>
                  <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <!-- passed -->
      <h1 class="pt-2">Your 3 latest bookings</h1>
      <% @user.bookings[0..3].each do |booking| %>
        <% if booking.start_date < Time.now %>
          <div class="booking rouded border mt-1 rounded shadow-sm profile-part-info d-flex justify-content-between align-items-center">
            <div class="profile-part-info-left d-flex justify-content-start align-items-center">
              <%= image_tag booking.star_part.photo, alt: "alttext" %>
              <div class="profil-part-info-text">
                <h2><%= booking.star_part.name_of_star %>'s <%= booking.star_part.name_of_part %></h2>
                <h3>From <%= booking.start_date %> - To <%= booking.end_date %></h3>
                <button type="button" class="link-rose" data-toggle="modal" data-target="#exampleModal">
                Book Again
              </button>
              </div>
            </div>

           <%= link_to "leave a review", new_star_part_booking_review_path(booking.star_part, booking), class: "bg-rose mr-3"  %>

            <!-- Modal -->

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                        <%= simple_form_for [booking.star_part, Booking.new] do |f| %>
                        <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
                        <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
                        <%= f.input :price, as: :string, disabled: true, input_html: {value: booking.star_part.price} %>
                        <%= f.submit "Book", class: "btn btn-success"%>
                        <% end %>

                        <% booking.star_part.unavailable_dates.each do |date|%>
                          <div class="unavailable-dates" data-unavailable=<%= date %>></div>
                        <% end %>

                  </div>
                </div>
              </div>
            </div>

            <!-- end of modal -->

          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<% if @user_pending_bookings.length > 0 %>
  <div class="row card-container bg-light rounded shadow-sm p-4 mt-0">
  <h1 class="col-12">Your pending booking requests (<%= @user_pending_bookings.length %>)</h1>
  <% @user_pending_bookings.each do |booking| %>
    <div class="col-lg-6 col-12">
      <div class="d-flex justify-content-center align-items-center">
        <div class="booking rounded border mt-1 rounded shadow-sm profile-part-info d-flex justify-content-between align-items-center flex-grow-1">
          <div class="profile-part-info-left d-flex justify-content-center align-items-center">
            <%= image_tag booking.star_part.photo, alt: "alttext" %>
            <div class="profil-part-info-text mt-2">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <h2><%= booking.star_part.name_of_star %>'s <%= booking.star_part.name_of_part %></h2>
                  <h3>From <%= booking.start_date %> - To <%= booking.end_date %></h3>
                  <h3>€ <%= booking.price %></h3>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-between align-items-center px-3">
            <%= link_to "Confirm", booking_confirm_path(booking), class: "bg-rose mb-3" %>
            <%= link_to "Decline", booking_decline_path(booking), class: "link-rose" %>
          </div>
        </div>
      </div>
      <div class="pl-3 w-100 p-2 booker d-flex align-items-center justify-content-start">
        <div>
          <%= image_tag User.find(booking.user_id).photo, alt: "alttext", class: "avatar-large" %>
          <h2><%= User.find(booking.user_id).username %></h2>
        </div>
        <h3 class="pl-5"><%= booking.message %></h3>
      </div>
    </div>
  <% end %>
  </div>
<% end %>





<div class="card-container mt-3" >
  <div class="cards">
    <% @user.star_parts.each do |part| %>
        <div class="card-trip rounded">
          <%= cl_image_tag part.photo.key, class: "part-img" %>
          <div class="card-trip-infos">
            <div class="text-justify">
              <small>
                <% part.rating.times do %>
                    <i class="fa fa-star text-rose"></i>
                <% end %>
                <% (5 - part.rating).times do %>
                    <i class="far fa-star text-rose"></i>
                <% end %>
              </small>
              <h5><%= part.name_of_star %>'s <%= part.name_of_part.capitalize() %></h5>
            </div>
          <h2 class="card-trip-pricing"> € <%= part.price  %> </h2>
          <%= cl_image_tag(part.user.photo.key, class: "card-trip-user avatar-bordered") %>
          </div>
          <div class="d-flex justify-content-between py-1 px-3">
            <%= link_to edit_star_part_path(part), class: "text-gray" do %>
              <i class="fas fa-pen-square"></i>
            <% end %>
            <%= link_to star_part_path(part), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-gray ml-2" do %>
              <i class="fas fa-trash"></i>
            <% end %>

          </div>
        </div>
      <% end %>
      <div class="add-part card-trip rounded d-flex justify-content-center align-items-center">
        <%= link_to "#" do  %>
          <div class="w-100 h-100">
            <i class="fas fa-pen-square"></i>
          </div>
        <% end %>
      </div>
  </div>
</div>
