<div class="row card-container">
  <!-- encart photo et infos -->
  <div class="col-lg-4 p-0">
    <div class="user">
      <div class="user-infos flex-column justify-content-center align-items-start mt-5">
        <ul class="rounded bg-light shadow-sm">
          <%= link_to edit_user_registration_path, class: "text-gray edition" do %>
            <i class="fas fa-pen-square"></i>
          <% end %>
          <h3 class="text-justify first-label">Username</h3>
          <li class="my-3"><%= @user.username %></li>
          <h3 class="text-justify">First Name</h3>
          <li class="my-3"><%= @user.first_name %></li>
          <h3 class="text-justify">Last Name</h3>
          <li class="my-3"><%= @user.last_name %></li>
          <h3 class="text-justify">Email</h3>
          <li class="my-3"><%= @user.email %></li>
          <h3 class="text-justify">Member since</h3>
          <li class="my-3"><%= @user.created_at %></li>
          <li class="text-right">
          </li>
        </ul>
      </div>
        <% if @user.photo.attached? %>
          <%= image_tag @user.photo, alt: "alttext", class: "big-avatar img-profile" %>
        <% else %>
          <%= image_tag "brad.jpg", alt: "alttext", class: "big-avatar img-profile" %>
        <% end %>
      </div>
  </div>
  <!-- encart your bookings -->
  <div class="col-lg-8 mt-5">
    <div class="bg-light rounded px-5 pt-2 pb-4 shadow-sm bookings">
      <!-- upcoming -->
      <% if @user.bookings.select { |booking| booking.end_date > Time.now }.length > 0 %>
        <h1 class="pt-2">Your upcoming bookings</h1>
        <% @user.bookings.each do |booking| %>
          <% if booking.end_date > Time.now %>
            <div class="d-flex justify-content-center align-items-center" data-booking-id=<%= booking.id %>>
              <div class="booking rouded border mt-1 rounded shadow-sm profile-part-info d-flex justify-content-between align-items-center flex-grow-1">
                <div class="profile-part-info-left d-flex justify-content-start align-items-start">
                  <%= link_to star_part_path(booking.star_part) do %>
                    <%= image_tag booking.star_part.photo, alt: "alttext" %>
                  <% end %>
                  <div class="profil-part-info-text mt-2">
                    <div class="d-flex justify-content-start align-items-start">
                      <div>
                        <h2><%= booking.star_part.name_of_star %>'s <%= booking.star_part.name_of_part %></h2>
                        <h3>From <%= booking.start_date %> - To <%= booking.end_date %></h3>
                        <h3>€ <%= booking.price %></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <% if booking.confirmed == "Declined" %>
                    <h2 class="mr-5 declined">Status: <%= booking.confirmed %></h2>
                  <% elsif booking.confirmed == "Accepted" %>
                    <h2 class="mr-5 confirmed">Status: <%= booking.confirmed %></h2>
                  <% else %>
                    <h2 class="mr-5 pending">Status: <%= booking.confirmed %></h2>
                  <% end %>

                </div>
              </div>
                  <%= link_to star_part_booking_path(booking.star_part.id, booking.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do  %>
                    <i class="fas fa-trash text-gray mx-5"></i>
                  <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <!-- passed -->
      <h1 class="pt-2">Your latest bookings</h1>
      <% @user.bookings[0..3].each do |booking| %>
        <% if booking.end_date < Time.now %>
          <div class="booking rouded border mt-1 rounded shadow-sm profile-part-info d-flex justify-content-between align-items-center">
            <div class="profile-part-info-left d-flex justify-content-start align-items-center">
              <%= link_to star_part_path(booking.star_part) do %>
                <%= image_tag booking.star_part.photo, alt: "alttext" %>
              <% end %>
              <div class="profil-part-info-text">
                <h2><%= booking.star_part.name_of_star %>'s <%= booking.star_part.name_of_part %></h2>
                <h3>From <%= booking.start_date %> - To <%= booking.end_date %></h3>
                <button type="button" class="link-rose book-again" data-toggle="modal" data-target="#exampleModal" id=<%= booking.star_part.id %>>
                Book Again
              </button>
              </div>
            </div>
            <% if booking.star_part.reviews.select { |review| review.user_id == current_user.id }.count > 0 %>
              <div class="review-done mr-3"><i class="fas fa-check mr-2"></i>You already left a review!</div>
            <% else %>
              <%= link_to "leave a review", new_star_part_booking_review_path(booking.star_part, booking), class: "bg-rose mr-3" %>
            <% end %>
            <!-- Modal -->

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                        <%= simple_form_for [booking.star_part, Booking.new] do |f| %>
                        <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
                        <%= f.input :message, as: :text %>
                        <%= f.input :price, as: :string, disabled: true, input_html: {value: booking.star_part.price} %>
                        <%= f.submit "Book", class: "bg-rose"%>
                        <% end %>

                        <% booking.star_part.unavailable_dates.each do |date|%>
                          <div class=star<%= booking.star_part.id %> data-unavailable=<%= date %> ></div>
                        <% end %>

                  </div>
                </div>
              </div>
            </div>

            <!-- end of modal -->

          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container mt-2 align-content-center" >
  <%= link_to "Continue my relooking !", star_parts_path, class: "link-rose", id:"button-back-home" %>
</div>
