<% if flash[:alert] %>
<div class="alert alert-primary" role="alert">
  <%= flash[:alert] %>
</div>
<% end %>

<div class="card-container mt-3" >
  <div class="cards">
    <% @user.star_parts.each do |part| %>
        <div class="card-trip rounded">
          <%= cl_image_tag part.photo.key, class: "part-img" %>
          <div class="card-trip-infos">
            <div class="text-justify">
              <small>
                <% part.rating.times do %>
                    <i class="fa fa-star text-rose"></i>
                <% end %>
                <% (5 - part.rating).times do %>
                    <i class="far fa-star text-rose"></i>
                <% end %>
              </small>
              <h5><%= part.name_of_star %>'s <%= part.name_of_part.capitalize() %></h5>
            </div>
          <h2 class="card-trip-pricing"> € <%= part.price  %> </h2>
          <%= cl_image_tag(part.user.photo.key, class: "card-trip-user avatar-bordered") %>
            <%= link_to star_part_path(part), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-rose ml-2 edit-part" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
      <% end %>
        <%= link_to new_star_part_path, class: "w-100 h-100" do  %>
      <div class="add-part card-trip rounded d-flex justify-content-center align-items-center">
          <div>
            <i class="far fa-plus-square add-a-part text-rose"></i>
          </div>
      </div>
        <% end %>
  </div>
</div>
