<% if @user_pending_bookings.length > 0 %>
  <div class="pending-container bg-light p-4 border-rose m-3">
  <h1 class="">Booking requests to confirm (<%= @user_pending_bookings.length %>)</h1>
  <% @user_pending_bookings.each do |booking| %>
    <div class="d-flex justify-content-start align-items-center w-100 mb-3" data-booking-id=<%= booking.id %>>
      <div class="col-6 pl-3 w-100 p-2 border-rose d-flex align-items-center justify-content-start mr-3 my-0">
        <div>
          <%= image_tag User.find(booking.user_id).photo, alt: "alttext", class: "avatar-large" %>
          <h2><%= User.find(booking.user_id).username %></h2>
        </div>
        <h3 class="pl-5"><%= booking.message %></h3>
      </div>
      <div class="booking rounded border rounded shadow-sm profile-part-info d-flex justify-content-between align-items-center">
        <div class="profile-part-info-left d-flex justify-content-center align-items-center">
          <%= image_tag booking.star_part.photo, alt: "alttext" %>
          <div class="profil-part-info-text mt-2">
            <div class="d-flex justify-content-center align-items-center">
              <div>
                <h2><%= booking.star_part.name_of_star %>'s <%= booking.star_part.name_of_part %></h2>
                <h3>From <%= booking.start_date %> - To <%= booking.end_date %></h3>
                <h3>€ <%= booking.price %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-between align-items-center px-3">
          <%= link_to "Confirm", booking_confirm_path(booking), remote: true, class: "bg-rose mb-3 confirm" %>
          <%= link_to "Decline", booking_decline_path(booking), remote: true, class: "link-rose" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
<% else %>
  <div class="row card-container bg-light rounded shadow-sm p-4 mt-3">
    <h1 class="col-12">You have no pending request</h1>
  </div>
<% end %>
