<div class="banner" id="banner-hp">
  <%= image_tag "landing.png", alt: "alttext" %>
  <div class="container-text">
    <h1>Be the brightest star of them all <em>l'espace d'un instant</em></h1>
  </div>
</div>

<div class="container-home m-5">
  <div class="d-flex justify-content-between border-bottom-rose">
    <h2>THE best rated body parts</h2>
    <%= link_to "Discover the parts", star_parts_path, class: "link-rose"  %>
  </div>
    <ul class="flex-container">
      <% @best_parts.shuffle.each do |part| %>
        <li class="flex-item">
        <div class="card-trip rounded">
          <%= link_to star_part_path(part) do %>
            <%= cl_image_tag part.photo.key, class: "part-img" %>
          <% end  %>
          <div class="card-trip-infos">
            <div class="text-justify">
              <small>
                <% part.rating.times do %>
                    <i class="fa fa-star text-rose"></i>
                <% end %>
                <% (5 - part.rating).times do %>
                    <i class="far fa-star text-rose"></i>
                <% end %>
              </small>
              <h5><%= part.name_of_star %>'s <%= part.name_of_part.capitalize() %></h5>
            </div>
          <h2 class="card-trip-pricing"> € <%= part.price  %> </h2>
          <%= cl_image_tag(part.user.photo.key, class: "card-trip-user avatar-bordered") %>
          </div>
        </div>
        </li>
      <% end %>
    </ul>
</div>

<div class="container-home m-5">
  <div class="d-flex justify-content-between border-bottom-rose">
    <h2>Want to be a bad ass with a good ass?</h2>
    <%= link_to "Discover the parts", star_parts_path, class: "link-rose"  %>
  </div>
    <ul class="flex-container">
      <% @bottom_parts.shuffle.each do |part| %>
        <li class="flex-item">


        <div class="card-trip rounded">
          <%= link_to star_part_path(part) do %>
            <%= cl_image_tag part.photo.key, class: "part-img" %>
          <% end  %>
          <div class="card-trip-infos">
            <div class="text-justify">
              <small>
                <% part.rating.times do %>
                    <i class="fa fa-star text-rose"></i>
                <% end %>
                <% (5 - part.rating).times do %>
                    <i class="far fa-star text-rose"></i>
                <% end %>
              </small>
              <h5><%= part.name_of_star %>'s <%= part.name_of_part.capitalize() %></h5>
            </div>
          <h2 class="card-trip-pricing"> € <%= part.price  %> </h2>
          <%= cl_image_tag(part.user.photo.key, class: "card-trip-user avatar-bordered") %>
          </div>
        </div>

        </li>

        <% end %>
    </ul>
</div>

<div class="container-home m-5">
  <div class="d-flex justify-content-between border-bottom-rose">
    <h2>Or are you more into a cute face?</h2>
    <%= link_to "Discover the parts", star_parts_path, class: "link-rose"  %>
  </div>
    <ul class="flex-container">
      <% @nice_faces.shuffle.each do |part| %>
        <li class="flex-item">
        <div class="card-trip rounded">
          <%= link_to star_part_path(part) do %>
            <%= cl_image_tag part.photo.key, class: "part-img" %>
          <% end  %>
          <div class="card-trip-infos">
            <div class="text-justify">
              <small>
                <% part.rating.times do %>
                    <i class="fa fa-star text-rose"></i>
                <% end %>
                <% (5 - part.rating).times do %>
                    <i class="far fa-star text-rose"></i>
                <% end %>
              </small>
              <h5><%= part.name_of_star %>'s <%= part.name_of_part.capitalize() %></h5>
            </div>
          <h2 class="card-trip-pricing"> € <%= part.price  %> </h2>
          <%= cl_image_tag(part.user.photo.key, class: "card-trip-user avatar-bordered") %>
          </div>
        </div>
        </li>
      <% end %>
    </ul>
</div>
