<div class="banner">
  <%= image_tag "landing.png", alt: "alttext" %>
  <div class="container-text">
    <h1>Be the brightest star of them all <em>l'espace d'un instant</em></h1>
    <%= link_to "Discover the parts", star_parts_path, class: "btn btn-light mt-5"  %>
  </div>
</div>

<div class="container mt-5">

<h2>THE best star parts</h2>
  <div class="cards siema m-5">
    <% @star_parts.shuffle.each do |part| %>
    <div class="card-trip carousel_item">
        <%= cl_image_tag(part.photo.key) %>
        <div class="card-trip-infos">
          <div>
            <small>
              <% count = 0 %>
              <% part.rating.times do %>
                <% if part.rating > count %>
                  <i class="fa fa-star text-danger"></i>
                <% else %>
                  <i class="fa fa-star text-danger"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <h5 class="text-primary"><%= link_to part.name_of_part.capitalize(), star_part_path(part) %></h5>
            <h6>From: <strong><%= part.name_of_star %></strong></h6>
              </div>
        <h2 class="card-trip-pricing"> € <%= part.price  %> </h2>
        <%= image_tag "manager.jpg", alt: "alttext", class: "card-trip-user avatar-bordered" %>
        </div>
      </div>
    <% end %>
  </div>

<h2>The most beautiful legs</h2>
  <div class="cards siema2 m-5">
    <% @star_parts.shuffle.each do |part| %>
    <div class="card-trip carousel_item">
        <%= cl_image_tag(part.photo.key) %>
        <div class="card-trip-infos">
          <div>
            <small>
              <% count = 0 %>
              <% part.rating.times do %>
                <% if part.rating > count %>
                  <i class="fa fa-star text-danger"></i>
                <% else %>
                  <i class="fa fa-star text-danger"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <h5 class="text-primary"><%= link_to part.name_of_part.capitalize(), star_part_path(part) %></h5>
            <h6>From: <strong><%= part.name_of_star %></strong></h6>
              </div>
        <h2 class="card-trip-pricing"> € <%= part.price  %> </h2>
        <%= image_tag "manager.jpg", alt: "alttext", class: "card-trip-user avatar-bordered" %>
        </div>
      </div>
    <% end %>
  </div>

<h2>Available in Paris</h2>
  <div class="cards siema3 m-5">
    <% @star_parts.shuffle.each do |part| %>
    <div class="card-trip carousel_item">
        <%= cl_image_tag(part.photo.key) %>
        <div class="card-trip-infos">
          <div>
            <small>
              <% count = 0 %>
              <% part.rating.times do %>
                <% if part.rating > count %>
                  <i class="fa fa-star text-danger"></i>
                <% else %>
                  <i class="fa fa-star text-danger"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <h5 class="text-primary"><%= link_to part.name_of_part.capitalize(), star_part_path(part) %></h5>
            <h6>From: <strong><%= part.name_of_star %></strong></h6>
              </div>
        <h2 class="card-trip-pricing"> € <%= part.price  %> </h2>
        <%= image_tag "manager.jpg", alt: "alttext", class: "card-trip-user avatar-bordered" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
