<div class="container">
<%= link_to account_path do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
</div>
<div class="container box-form">
<p style="text-align: center; font-size: 28px;">Leave a review</p>

<div class="row-stars">
  <fieldset class="rate">
    <input id="star5" class="etoile-input" data-count="5" type="radio" name="rate2"/>
    <label for="star5" class="etoile" title="Awesome" id="label-five"></label>
    <input id="star4" class="etoile-input" data-count="4" type="radio" name="rate2" />
    <label for="star4" class="etoile" title="Very good" id="label-four"></label>
    <input id="star3" class="etoile-input" data-count="3" type="radio" name="rate2" />
    <label for="star3" class="etoile" title="Satisfactory" id="label-three"></label>
    <input id="star2" class="etoile-input" data-count="2" type="radio" name="rate2" />
    <label for="star2" class="etoile" title="Bad" id="label-two"></label>
    <input id="star1" class="etoile-input" data-count="1" type="radio" name="rate2" />
    <label for="star1" class="etoile" title="Awful" id="label-one"></label>
  </fieldset>
</div>

<div id="indicateur">How was it?</div>

<%= simple_form_for ([@booking.star_part, @booking, @review]) do |f| %>
  <%= f.input :rating, as: :hidden, input_html: { readonly: true, value: 0 } %>
  <%= f.input :content, :label => "What did you think about this body part?" %>

<p style="text-align: center"><%= f.submit "Submit", class: 'bg-rose mr-3'%></p>
<% end %>
</div>
